<% provide(:title, "Home is Where the Couch is") %>

<div class="center jumbotron container">
  <h1>Noodles in Esat Asia</h1>
  <h2>Techniques of Creating with Flour</h2>

  <%= link_to "Signup", new_user_path , class: "btn btn-lg btn-primary" %>
</div>

<div class="container">
  <div class="row">
     <div class="col-sm-4">
       <h1> Memory </h1>
         <a href="https://www.google.com/imgres?imgurl=http://heavyeditorial.files.wordpress.com/2012/08/roomba-cat-vs-dog.gif%253Fw%253D780&imgrefurl=http://heavy.com/comedy/2012/08/the-20-awesomest-gifs-of-cats-being-dicks/&h=264&w=470&tbnid=iFKvAfBG1v8A6M:&docid=ugWTEWMjQqAJlM&ei=xmmmVuTzC4KqjgSIza6YDA&tbm=isch&ved=0ahUKEwjk7vGbzMXKAhUClYMKHYimC8MQMwgdKAAwAA" class="thumbnail">
      <img src="http://otile3.mqcdn.com/tiles/1.0.0/osm/7/38/46.png" alt="...">
    </a>
      </div>


      <div class="col-sm-4">
       <h1> Estelle</h1>
         <a href="http://i.imgur.com/CRuEx5p.jpg" class="thumbnail">
      <img src="http://search.lostpetusa.net/petimages/256/8138c163-51b8-4c4c-bd2a-3a16f4a7a9d2.jpg" alt="...">
    </a>
      </div>

      <div class="col-sm-4">
       <h1>Words </h1>
        <a href="http://www.lotsofneatstuff.com/sites/default/files//prof_bros1.jpg?q=sites/lotsofneatstuff.com/files/prof_bros1.jpg" class="thumbnail">
      <img src="http://filolog.uni.lodz.pl/ewca/wp-content/uploads/2015/07/Writing-Lives-Twitter-Logo.jpg" alt="...">
    </a>
      </div>
    </div>

  <div class= "journey">
    <h1> The Journey <h1>
      <p> "Sure, lets just keep moving across the country. I hear so many things about where to be from the kool kids. I'll just say it. Are cities passé? I'm pretty sure we are finding out right now. The new wave move into the forest, or the mountains, and summer at nice places, or just get lost. We're not bums, just surfing. 

        I like people in moderation. Maybe one people per, umm, understanding! Internet! It helps with that. Minds are humming, just a little different is all.

        Share your stuff!"
</p>

<p>

  This is just a place to be weird, and not have hate. Intellectualism doesn't warrant rolled eyes. It warrants fun thougts! A Thousand Plateaus ahead and behind.

</p>
  </div>
</div>





