<footer class="footer">
  <div class=" container">
  <small>
    A Trip To See ~ Estelle James
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Explore", explore_path %></li>
      <li><%= link_to "Home", root_path %> </li>
    </ul>
  </nav>
</div>
</footer>